body{
	background-image: url("../img/bag.jpg");
	background-repeat: no-repeat;
	text-align: center;
}
header{
	background-color: #ffffff;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-top: 30px;
}
.btn5{
	width: 90%;
	margin-top: -30px;
	margin-right: auto;
	margin-left: auto;
	.bg5{
	background-color: #ffffff;		
	border-top-right-radius:5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	}
}
.slider{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;	
}
.content{
	background-color: #ffffff;
	text-align: left;
	padding: 100px;
	hr{
		color:#555555;
	}
}
.picture_info{
	float : left;
	margin-top: 10px;	
	margin-right: 10px;	
	margin-left: 10px;	
	margin-bottom: 10px;	
}
