.ana-1{
	display: block;
	background-color: #ffffff;
	border-top-top-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-bottom-radius: 5px;
}
.ana-2{
	background-color: #ffffff;
	border-top-top-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-bottom-radius: 5px;
	margin-top: 30px;
	line-height: 2em;	
}
header{
	background-color: #ffffff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-top: 30px;
}
.slider{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;	
}
.content{
	background-color: #ffffff;
	text-align: left;
	padding: 100px;
}
.picture_info{
	float : left;
	margin-top: 10px;	
	margin-right: 10px;	
	margin-left: 10px;	
	margin-bottom: 10px;	
}
.bg5{
	line-height: 4em;	
}
