$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'custom';


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 320px) {
.container{
	width: 100%;
  height: 200px;
  background: url(../img/glo_bg_top.jpg) no-repeat center;
	background-size: cover;
}
.ana-1{
	line-height: 2em;
	width: 340px;
	text-align: center;
	margin-top: 10px;
}
.picture_info{
	text-align : center;
}
.mannaka{
	text-align : center;
}
.information-top {
	padding: 15px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	}
.img-responsive {
  display: block;
  width: 100%;
  height: 100%;
}
.btn1 {
	width: 100%;
}
.space{
	margin-right: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
footer{
	width: 100%;
  height: 100%;
  background: url(../img/glo_bg_bottom.jpg) no-repeat center;
	background-size: cover;
}
}
@media screen and (min-width: 737px) {
.container{
	width: 100%;
  height: 329px;
  background: url(../img/glo_bg_top.jpg) no-repeat center;
	background-size: cover;
}
.ana-1{
	margin-top: 100px;
	line-height: 2em;
	width: 340px;
	text-align: center;
}
.ana-2{
	padding-left: 50px;
}
.information-top {
	width: 100%;
	height: 450px;
	border: 1px solid #CCCCCC;
	background-image: url(../img/idx_information_bg.jpg);
	background-repeat: x-repeat;
	background-size: cover;
	}
.btn1 {
	width: 50%;
}
.space{
	margin-right: 0px;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}
footer{
	width: 100%;
  height: 100%;
  background: url(../img/glo_bg_bottom.jpg) no-repeat center;
	background-size: cover;
}
}
@media screen and (min-width: 1265px) {
.container{
	width: 100%;
  height: 329px;
  background: url(../img/glo_bg_top.jpg) x-repeat;
}
.ana-1{
	margin-top: 10px;
	line-height: 2em;
	width: 340px;
	float: right;
	text-align: center;
}
.ana-2{
	padding-left: 50px;
}
.picture_info{
	float : left;
	margin-top: 10px;	
	margin-right: 10px;	
	margin-left: 10px;	
	margin-bottom: 10px;	
}
.mannaka{
	margin-top: 100px;	
}
.information-top {
	border: 1px solid #CCCCCC;
	background-image: url(../img/idx_information_bg.jpg);
	background-repeat: x-repeat;
	}
.btn1 {
	width: 50%;
}
.space{
	margin-right: 80px;
}

.img-responsive {
  display: block;
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
footer{
  background: url(../img/glo_bg_bottom.jpg) x-repeat;
}
}
//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav-ao {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  font-weight: bold;
  @include clearfix();

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        background: linear-gradient(darken(#f3f3f3, 7%),#f3f3f3);
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    @include nav-divider();
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid $nav-tabs-border-color;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: $border-radius-base $border-radius-base 0 0;
      &:hover {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: 1px solid $nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}


// Pills
// -------------------------
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: $nav-pills-border-radius;
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-pills-active-link-hover-color;
        background: linear-gradient(#033A9C,#2E8FC7);
      }
    }
  }
}


// Stacked pills
.nav-stacked {
  > li {
    float: none;
    + li {
      margin-top: 2px;
      margin-left: 0; // no need for this gap between nav items
    }
  }
}


// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: $border-radius-base;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid $nav-tabs-justified-link-border-color;
  }

  @media (min-width: $screen-sm-min) {
    > li > a {
      border-bottom: 1px solid $nav-tabs-justified-link-border-color;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: $nav-tabs-justified-active-link-border-color;
    }
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}


// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  @include border-top-radius(0);
}

// Ao navbar

.navbar-ao {
	background: linear-gradient(#f3f3f3,#ffffff);
  border-color: #ffffff;

  .navbar-brand {
    color: #000000;
    &:hover,
    &:focus {
      color: #2E8FC7;
      background: linear-gradient(#f3f3f3,#ffffff);
    }
  }

  .navbar-text {
    color: #ffffff;
  }

  .navbar-nav {
    > li > a {
      color: #2E8FC7;

      &:hover,
      &:focus {
        color: #000000;
        background: linear-gradient(darken(#f3f3f3, 7%),#f3f3f3);
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #ffffff;
        background: linear-gradient(#033A9C,#2E8FC7);
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: blue;
        background: linear-gradient(#f3f3f3,#ffffff);
      }
    }
  }
}
  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: #ffffff;
    &:hover,
    &:focus {
      background: linear-gradient(#f3f3f3,#ffffff);
    }
    .icon-bar {
      background: #000000;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: linear-gradient(darken(#f3f3f3, 7%),#f3f3f3);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background: linear-gradient(#f3f3f3,#ffffff);
        color: #000000;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: #ffffff;
        }
        .divider {
          background: linear-gradient(#f3f3f3,#ffffff);
        }
        > li > a {
          color: #ffffff;
          &:hover,
          &:focus {
            color: #000000;
            background: linear-gradient(#f3f3f3,#ffffff);
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: #000000;
            background: linear-gradient(#f3f3f3,#ffffff);
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: blue;
            background: linear-gradient(#f3f3f3,#ffffff);
          }
        }
      }
    }
  }

  .navbar-link {
    color: #2E8FC7;
    &:hover {
      color: #000000;
    }
  }

  .btn-link {
    color: #2E8FC7;
    &:hover,
    &:focus {
      color: #000000;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: #ffffff;
      }
    }
  }


//breadcrumb

.breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $line-height-computed;
  list-style: none;
	background: linear-gradient(#f3f3f3,#ffffff);
  border-radius: $border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      content: ">\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $breadcrumb-color;
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
