$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'custom';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
 {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}


.container-narrow > hr {
  margin: 0;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 400px) {
.container{
	width: 100%;
  height: 200px;
  background: url(../img/bag.jpg) no-repeat center;
	background-size: cover;
}
.ana-1{
	line-height: 2em;
	width: 340px;
	text-align: center;
	margin-top: 20px;
}
.picture_info{
	text-align : center;
}
.mannaka{
	text-align : center;
}
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.img-responsive {
  display: block;
  width: 100%;
  height: 200px;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
footer{
	width: 100%;
  height: 100%;
  background: url(../img/bag2.jpg) no-repeat center;
	background-size: cover;
}
@media screen and (min-width: 768px) {
.container{
	width: 100%;
  height: 500px;
  background: url(../img/bag.jpg) no-repeat center;
	background-size: cover;
}
.ana-1{
	margin-top: 100px;
	line-height: 2em;
	width: 340px;
	text-align: center;
}
.ana-2{
	padding-left: 50px;
}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.img-responsive {
  display: block;
  width: 100%;
  height: 200px;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
footer{
	width: 100%;
  height: 100%;
  background: url(../img/bag2.jpg) no-repeat center;
	background-size: cover;
}
@media screen and (min-width: 1200px) {
.container{
  background: url(../img/bag.jpg) x-repeat;
}
.ana-1{
	margin-top: 80px;
	line-height: 2em;
	width: 340px;
	float: right;
	text-align: center;
}
.ana-2{
	padding-left: 50px;
}
.picture_info{
	float : left;
	margin-top: 10px;	
	margin-right: 10px;	
	margin-left: 10px;	
	margin-bottom: 10px;	
}
.mannaka{
	margin-top: 100px;	
}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.img-responsive {
  display: block;
  width: 787px;
  height: 200px;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
footer{
  background: url(../img/bag2.jpg) x-repeat;
}

